force-app/main/default/flows/testflow.flow-meta.xml
<?xml version="1.0" encoding="UTF-8" ?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <apiVersion>49.0</apiVersion>
    <assignments>
        <name>Add_to_New_Collection</name>
        <label>Add to New Collection</label>
        <locationX>742</locationX>
        <locationY>240</locationY>
        <assignmentItems>
            <assignToReference>oppProducts_new</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>oppProduct_loop</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Iterate_Over_Products</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Fields</name>
        <label>Update Opportunity Fields</label>
        <locationX>75</locationX>
        <locationY>98</locationY>
        <assignmentItems>
            <assignToReference>opportunity.StageName</assignToReference>
            <operator>Assign</operator>
            <value>
                <stringValue>Prospecting</stringValue>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>opportunity.CloseDate</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>ninetyDays</elementReference>
            </value>
        </assignmentItems>
        <connector>
            <targetReference>Clone_Opportunity</targetReference>
        </connector>
    </assignments>
    <assignments>
        <name>Update_Opportunity_Product</name>
        <label>Update Opportunity Product</label>
        <locationX>741</locationX>
        <locationY>101</locationY>
        <assignmentItems>
            <assignToReference>oppProduct_loop.Id</assignToReference>
            <operator>Assign</operator>
            <value>
                <elementReference>opportunity.Id</elementReference>
            </value>
        </assignmentItems>
        <assignmentItems>
            <assignToReference>oppProduct_loop.TotalPrice</assignToReference>
            <operator>Assign</operator>
        </assignmentItems>
        <connector>
            <targetReference>Add_to_New_Collection</targetReference>
        </connector>
    </assignments>
    <formulas>
        <name>ninetyDays</name>
        <dataType>Date</dataType>
        <expression>TODAY() + 90</expression>
    </formulas>
    <interviewLabel>testflow {!$Flow.CurrentDateTime}</interviewLabel>
    <label>testflow</label>
    <loops>
        <name>Iterate_Over_Products</name>
        <label>Iterate Over Products</label>
        <locationX>476</locationX>
        <locationY>102</locationY>
        <assignNextValueToReference>oppProduct_loop</assignNextValueToReference>
        <collectionReference>oppProductsOriginal</collectionReference>
        <iterationOrder>Asc</iterationOrder>
        <nextValueConnector>
            <targetReference>Update_Opportunity_Product</targetReference>
        </nextValueConnector>
    </loops>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <name>Clone_Opportunity</name>
        <label>Clone Opportunity</label>
        <locationX>253</locationX>
        <locationY>102</locationY>
        <connector>
            <targetReference>Iterate_Over_Products</targetReference>
        </connector>
        <inputReference>opportunity</inputReference>
    </recordCreates>
    <startElementReference>Update_Opportunity_Fields</startElementReference>
    <status>Draft</status>
    <variables>
        <name>opportunity</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>Opportunity</objectType>
    </variables>
    <variables>
        <name>oppProduct_loop</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProducts_new</name>
        <dataType>SObject</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
    <variables>
        <name>oppProductsOriginal</name>
        <dataType>SObject</dataType>
        <isCollection>true</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
        <objectType>OpportunityLineItem</objectType>
    </variables>
</Flow>
